{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Tickets</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <script
      src="https://kit.fontawesome.com/a044caf582.js"
      crossorigin="anonymous"
    ></script>
    
  </head>

  <body>
    <h1 class="heading">List of Tickets</h1>
    <div class="main_cont">
      <div>
        <h2 class="tic_name">Technical Tickets</h2>
        <table border="2" class="printed">
          <tr class="tbl_head">
            <th>Ticket Description</th>
            <th>Ticket status</th>
            <!-- <th>Ticket Last Updated on</th> -->
            <th>Update / Add Notes</th>
          </tr>

          <tr>
            {% for ticket in TT %}
          </tr>

          <tr class="sub_cont">
            <td>{{ ticket.ticket_description }}</td>
            <td>{{ ticket.status }}</td>
            <!-- <td>{{ ticket.ticket_modify_time }}</td> -->

            <td>
              <button class="edit">
                <a href="/{{ticket.id}}"> EDIT <i class="fas fa-edit"></i> </a>
              </button>
            </td>
          </tr>

          <tr />
          {% endfor %}
        </table>
      </div>
      <div>
        <h2 class="tic_name">Billing Tickets</h2>
        <table border="2" class="printed">
          <tr class="tbl_head">
            <th>Ticket Description</th>
            <th>Ticket status</th>
            <!-- <th>Ticket Last Updated on</th> -->
            <th>Update / Add Notes</th>
          </tr>

          <tr>
            {% for ticket in BT %}
          </tr>

          <tr class="sub_cont">
            <td>{{ ticket.ticket_description }}</td>
            <td>{{ ticket.status }}</td>
            <!-- <td>{{ ticket.ticket_modify_time }}</td> -->

            <td>
              <button class="edit">
                <a href="/{{ticket.id}}"> EDIT <i class="fas fa-edit"></i> </a>
              </button>
            </td>
          <tr />
          {% endfor %}
        </table>
      </div>
      <div>
        <h2 class="tic_name">Service Tickets</h2>
        <table border="2" class="printed">
          <tr class="tbl_head">
            <th>Ticket Description</th>
            <th>Ticket status</th>
            <!-- <th>Ticket Last Updated on</th> -->
            <th>Update / Add Notes</th>
          </tr>

          <tr>
            {% for ticket in ST %}
          </tr>

          <tr class="sub_cont">
            <td>{{ ticket.ticket_description }}</td>
            <td>{{ ticket.status }}</td>
            <!-- <td>{{ ticket.ticket_modify_time }}</td> -->

            <td>
              <button class="edit">
                <a href="/{{ticket.id}}"> EDIT <i class="fas fa-edit"></i> </a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="btn_cont">
      <button class="left">
        <a href="../login/"><i class="fas fa-angle-left"></i></a>
      </button>
    </div>
  </body>
</html>
